.wrapper {
    border: 10px solid blue;
    border-radius: 10px;
    box-sizing: content-box;
}

.title {
    font-size: 150px;
    color: yellow;
}

.overlay {
    border: 10px solid blue;
    border-radius: 20px 50px 50px 20px;
    background-color: #3264a8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 10px 0;
    height: min-content;
    width: min-content;
}