.wrapper {
    background-color: black;
    border: 2px solid black;
    position: relative;
    display: flex;
    box-sizing: content-box;
    width: 2000px;
    height: 3000px;
} 

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.ratingsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: min-content;
    min-width: 250px;
    height: 100%;
    padding: 15px;
    position: relative;
    flex-direction: column;
    background-color: #0009;
    &:empty {
        width: 0;
        min-width: 0;
        padding: 0;
    }
}

.ratingIcon {width: 250px;}

.ratingText {
    font-size: 160px;
    color: white;
}

.ratingContainer {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;
}

.mediainfoContainer {  
    height: 250px;
    width: 100%;
    max-width: 100%;
    background-color: #0007; 
    padding: 30px 10px;
    display: flex;
    &:empty {
        height: 0;
    }
}

.mediainfoImgContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px
}

.mediainfoIcon {
    max-height: 100%;
    max-width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
}

.pcContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: auto;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.producionCompany {
    max-height: 220px;
    max-width: 550px;
    margin: 20px 0 0 20px;
    padding: 5px;
    background-color: #ffffff20; 
} 

.ageRating {
    height: 200px;
    padding: 10px;
}

.contentContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    z-index: 10;
    box-sizing: border-box;
}

body {
    margin: 0; 
}